.homeBody {
    background-color: black;
    overflow-y: hidden;
}

#backgroundVideo {
    display: flex;
    position: relative;
    width: 900px;
    height: 450px;
    bottom: -270px;
    right: -500px;
    z-index: 2;

}

.controls {
    display: flex;
    position: relative;
}

.imgBackground {
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1000px;
    bottom: 530px;
    z-index: 1;
}

.aboutButton {
    width: 60px;
    height: 60px;
    box-shadow: inset;
    box-shadow: 5px 5px black;
    position: relative;
    bottom: 720px;
    left: 1030px;
    z-index: 2;
}

.scheduleButton {
    width: 60px;
    height: 60px;
    box-shadow: inset;
    box-shadow: 5px 5px black;
    position: relative;
    bottom: 720px;
    left: 1100px;
    z-index: 2;
}

.videosButton {
    width: 60px;
    height: 60px;
    box-shadow: inset;
    box-shadow: 5px 5px black;
    position: relative;
    bottom: 720px;
    left: 1100px;
    z-index: 2;
}

.loginButton {
    width: 60px;
    height: 60px;
    box-shadow: inset;
    box-shadow: 5px 5px black;
    position: relative;
    bottom: 720px;
    left: 1300px;
    z-index: 2;
}

.controller-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 300px;
    padding: 48px;
    border-style: solid;
    border-color: transparent;
    bottom: 830px;
    left: 600px;
    z-index: 2;
}

.directions {
    top: 830px;
    left: 400px;
    z-index: 2;
    position: relative;
    color: white;
}


@media (min-width:320px) {}

@media (min-width:481px) {}

@media (min-width:641px) {}

@media (min-width:961px) {}

@media (min-width:1025px) {}

@media (min-width:1281px) {}